:root {
  /* Width of the main container */
  --sl-content-width: 70rem;
  /* Size of the header's text */
  --sl-text-5xl: 3.5rem;
  --sl-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* --sl-font: Verdana; */
  /* --sl-font: 'IBM Plex Serif', serif; */
  /* --sl-font: "Segoe UI",SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif; */
}


body {
  /* System Fonts as used by GitHub */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  
  /* line-height: 1.5;   */
  line-height: 160%;  
  -webkit-font-smoothing: antialiased;
  color: black;
}


p {
  font-size: 20px;
  line-break: auto;
  text-align: justify;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

  /* font-family: apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
  /* TODO: make a component with the following font */
  /* font-family: 'Courier New', Courier, monospace; */
  /* Docfx-based font */
  /* font-family: "Segoe UI",SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif; */
  opacity: 1;
}
 