
  /**
   * Table of contents
   */
   .right-sidebar {
    border-inline-start: initial;

    @media (min-width: 72rem) {
      padding-top: calc(var(--sl-nav-height) + 1.75rem);
    }

    starlight-toc li {
      & > a {
        border-inline-start: 1px solid var(--sl-color-hairline-light);
        border-radius: 0;
        margin-inline-start: 0.35rem;
        padding-inline-start: calc(1rem * var(--depth) + var(--pad-inline) + 0.35rem);

        &[aria-current='true'] {
          border-color: var(--sl-color-accent-high);

          &:is(:hover, :focus-visible) {
            color: var(--sl-color-accent-high);
          }
        }

        &:not([aria-current='true']):is(:hover, :focus-visible) {
          border-color: var(--sl-color-gray-2);
        }
      }
    }
  }
